<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" class="loginForm">
        <div>
          <label class="formLabel" for="username"> Username </label>
          <input
            class="formInput"
            id="username"
            type="text"
            placeholder="Username"
            formControlName="userName"
          />

          <mat-error>
            <span
              *ngIf="
                loginFormFormControl.userName.touched &&
                loginFormFormControl.userName.errors?.required
              "
            >
              Username is required
            </span>

            <span
              *ngIf="
                loginFormFormControl.userName.touched &&
                loginFormFormControl.userName.errors?.minlength
              "
            >
              Username must be at least 3 characters long
            </span>

            <span
              *ngIf="
                loginFormFormControl.userName.touched &&
                loginFormFormControl.userName.errors?.maxlength
              "
            >
              Username cannot be more than 15 characters long
            </span>
          </mat-error>
        </div>
        <div class="">
          <div class="">
            <label class="formLabel" for="password"> Password </label>
            <input
              class="formInput"
              id="password"
              type="password"
              placeholder="Password (at least 6 characters)"
              formControlName="password"
            />

            <mat-error>
              <span
                *ngIf="
                  loginFormFormControl.password.touched &&
                  loginFormFormControl.password.errors?.required
                "
              >
                Password is required
              </span>
              <span
                *ngIf="
                  loginFormFormControl.password.touched &&
                  loginFormFormControl.password.errors?.minlength
                "
              >
                Password must be at least 5 characters
              </span>
            </mat-error>
          </div>

          <div>
            <div>
              <input
                class="form-checkbox"
                type="checkbox"
                id="remember"
                formControlName="remember"
              />
              <label for="remember"> Remember me </label>
            </div>

            <button class="forgotPasswordButton" (click)="goToForgotPassword()">
              Forgot Password?
            </button>
          </div>
        </div>

        <div>
          <button
            mat-raised-button
            class="loginFormButton"
            type="button"
            (click)="onSubmit()"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
          <button
            mat-raised-button
            color="primary"
            class="loginFormButton"
            type="button"
            (click)="goToSignup()"
          >
            Sign Up
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
