<nb-layout>
  <nb-layout-header fixed>
    <div class="headerContainer">
      <div class="appName" (click)="goToHome()">
        <h1>Angular HRM</h1>
      </div>
      <div>
        <a href="https://github.com/ArjunMohan008/AngularHRM" target="_blank">
          <i class="ion ion-social-github"></i> <span>Github</span>
        </a>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <app-sidenav></app-sidenav>
  </nb-sidebar>

  <nb-layout-column>
    <div *ngIf="showHome" class="welcomeMessageContainer">
      Welcome to the HRM
    </div>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
